services:
  simplehealth_db:
    image: mongo:7
    container_name: simplehealth_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: simplehealth
      MONGO_INITDB_ROOT_PASSWORD: simplehealth
      MONGO_INITDB_DATABASE: simplehealth_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis_agendamento
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  app-agendamento:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: simplehealth-agendamento
    ports:
      - "8082:8082"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://simplehealth:simplehealth@simplehealth_db:27017/simplehealth_db?authSource=admin
      SPRING_DATA_MONGODB_DATABASE: simplehealth_db
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      simplehealth_db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: always

volumes:
  mongo_data:
  mongo_config:
  redis_data:
