services:
  postgres:
    image: postgres:16
    container_name: postgres_local
    environment:
      POSTGRES_USER: simplehealth
      POSTGRES_PASSWORD: simplehealth
      POSTGRES_DB: simplehealth_db
    ports:
      - "5430:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7
    container_name: redis_local
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    restart: always

volumes:
  postgres_data:
  redis_data:
