version: '3.8'

services:

  cassandra:
    image: cassandra:4.1
    container_name: cassandra_local
    environment:
      CASSANDRA_USERNAME: simplehealth
      CASSANDRA_PASSWORD: simplehealth
      CASSANDRA_CLUSTER_NAME: simplehealth_db
      HEAP_NEWSIZE: 128M
      MAX_HEAP_SIZE: 512M
    ports:
      - "9042:9042"
    volumes:
      - cassandra_data:/var/lib/cassandra
    healthcheck:
      test: ["CMD-SHELL", "cqlsh -u cassandra -p cassandra -e 'describe cluster' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always

  redis:
    image: redis:7-alpine
    container_name: redis_estoque
    ports:
      - "6381:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    restart: always

volumes:
  cassandra_data:
  redis_data: