version: '3.8'

services:

  cassandra:
    image: cassandra:5
    container_name: cassandra_local
    environment:
      CASSANDRA_USERNAME: simplehealth
      CASSANDRA_PASSWORD: simplehealth
      CASSANDRA_CLUSTER_NAME: simplehealth_db
    ports:
      - "9042:9042"
    volumes:
      - cassandra_data:/var/lib/cassandra
    restart: always

volumes:
  cassandra_data:
